@tailwind base;
@tailwind components;
@tailwind utilities;

@layer header {
  .header-item {
    @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0;
  }
  .header-item-active {
    @apply block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0;
  }
  .header-item-cta {
    @apply block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0;
  }
}

.tsparticle-overlay {
  position: fixed;
  width: 100%;
  z-index: -1;
}

body {
  margin: 0;
  font-family: primary-semibold, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .animated-button {
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.animated-button:hover {background-color: #3e8e41}

.animated-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

.animated-image {
  cursor: pointer;
  outline: none;
  color: #fff;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.animated-image:hover {
  background-color: white;
  opacity: .5;
}

.animated-image:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}